USE [master]
GO
/****** Object:  Database [JeuDontOnEstLeHeros.database.dev]    Script Date: 26/02/2024 10:26:28 AM ******/
CREATE DATABASE [JeuDontOnEstLeHeros.database.dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JeuDontOnEstLeHeros.database.dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\JeuDontOnEstLeHeros.database.dev.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JeuDontOnEstLeHeros.database.dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2012\MSSQL\DATA\JeuDontOnEstLeHeros.database.dev_log.ldf' , SIZE = 7168KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JeuDontOnEstLeHeros.database.dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JeuDontOnEstLeHeros.database.dev]
GO
/****** Object:  Table [dbo].[Droide]    Script Date: 26/02/2024 10:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Droide](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Matricule] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Droide] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
